@import "header.scss";
@import "fonts.scss";
@import "angleBorder.scss";
@import "mainPage.scss";
html,
body {
  width: 100%;
  overflow-x: hidden;
}

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
body {
  background: url("../images/bg-stars.png") repeat 1980px 680px,
    url("../images/bg-cosmos.png") no-repeat 1980px 18px,
    linear-gradient(to bottom, #0a151b, rgb(11, 11, 24));
  background-attachment: fixed;
  background-repeat: repeat-y no-repeat repeat;

  background-position-x: center;

  @media (max-width: $netbook) {
    background-size: auto 885px, 2500px auto, auto;
    background-position: top center, center top;
  }
}

.mainLayout {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-width: $netbook;
}

.container {
  width: 1280px;
  margin: 0 auto;
  @media (max-width: $netbook) {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
}
